name: leech

on:
  push:

jobs:
  build:
    strategy:
      matrix:
        url:
        - https://mega.nz/folder/kBUXnACL#z4sxl2KBtNuonpAI3KACVQ
        - https://mega.nz/file/onpmED6Z#qgMOYUXsk4cv9Iw90_Y533X_EoFDurM1-0MEMacifnM
        - https://mega.nz/folder/xBkWACrI#QJyGP3J3I7aIyAhFFmL5tQ
        - https://mega.nz/file/5IMggbjC#fLrlDi40LTynLBfNAupNI9JB5ebck0F7Hu0vn5MsNPw
        - https://mega.nz/file/4Id2TLAT#xEPw2cGwrEYfAaLq53NzQ5HcizwgA4IN11uprcwIGsQ
    runs-on: ubuntu-latest
    steps:
    - uses: actions/cache@v2
      id: cache
      with:
        path: megatools-1.11.0-git-20210505-linux-x86_64
        key: megatools-1.11.0-git-20210505-linux-x86_64
    - name: Mega
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        curl -OL https://megatools.megous.com/builds/experimental/megatools-1.11.0-git-20210505-linux-x86_64.tar.gz
        tar xvf *.gz
    - name: Leech
      run: |
        mkdir leech
        megatools*/megatools dl --path leech/ ${{ matrix.url }}
        cd leech
        find . -size +2G -exec split -b 1G --numeric-suffixes=1 {} {}.0 \;
        find . -size +2G -exec rm {} \;
    - name: Upload
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: leech/*
        tag: latest
        overwrite: true
        file_glob: true
